.picture {
  &__photo {
    width: 100%;
    transition: transform 0.3s;

    :hover {
      transform: scale(1.05);
    }
  }

  &__title {
    text-align: center;
    color: $color-primary;
    font-weight: 700;
    font-size: $font-size-xl;
    line-height: 140%;
    margin: 0;
  }
  &__info {
    color: rgba(22, 22, 22, 1);
    font-weight: 400;
    font-size: $font-size-md;
    line-height: 27px;
    margin: 0;
  }
}
