.view {
  &__wrapper {
    display: grid;
    row-gap: 48px;
  }

  &__button {
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;

    font-weight: 700;
    font-size: $font-size-md;
    line-height: 27px;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-primary-hover;
    }
  }
}
